In [11]:
import pandas as pd
from datetime import datetime,timedelta 
import numpy as np

## Time Frequency Referrence

* B	- business day frequency
* C	- custom business day frequency
* D	- calendar day frequency
* W	- weekly frequency
* M	- month end frequency
* BM - business month end frequency
* CBM - custom business month end frequency
* MS - month start frequency
* SMS - semi-month start frequency (1st and 15th)
* BMS - business month start frequency
* CBMS - custom business month start frequency
* Q - quarter end frequency
* BQ - business quarter end frequency
* QS - quarter start frequency
* BQS - business quarter start frequency
* A, Y - year end frequency
* BA, BY - business year end frequency
* AS, YS - year start frequency
* BAS, BYS - business year start frequency
* BH - business hour frequency
* H - hourly frequency
* T, min - minutely frequency
* S - secondly frequency
* L, ms - milliseconds
* U, us - microseconds
* N - nanoseconds

In [12]:
df1 = pd.read_csv("data.csv")
start_date_time = '2018-01-01 00:00:00'
time_frequency = '10S'
rows = df1.shape[0]

In [13]:
start_date = datetime.strptime(start_date_time, '%Y-%m-%d %H:%M:%S')
end_date = start_date + timedelta(minutes=5*(rows-1))

date_rng = pd.date_range(start=start_date, end=end_date, freq=time_frequency)
df2 = pd.DataFrame(date_rng)

In [14]:
df1["@timestamp"] = df2
df1.head()

,@timestamp,system.cpu.user.pct,system.cpu.system.pct,system.cpu.idle.pct,system.cpu.iowait.pct,system.cpu.softirq.pct,system.cpu.total.pct
0,2018-01-01 00:00:00,23.64%,5.01%,367.15%,3.1%,1.1%,32.85%
1,2018-01-01 00:00:10,21.02%,5.35%,372.42%,0.3%,0.91%,27.58%
2,2018-01-01 00:00:20,24.79%,6.65%,366.65%,0.81%,1.11%,33.35%
3,2018-01-01 00:00:30,24.13%,5.68%,367.39%,1.6%,1.2%,32.61%
4,2018-01-01 00:00:40,23.9%,6.1%,367.8%,1.07%,1.12%,32.2%

In [15]:
df.to_csv("data_with_timestamp.csv")